@use "./base/reset";
@use "./base/variables" as *;
@use "./base/fonts";
@use "./base/mixins" as *;

body {
  background-color: $white;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
main {
  background: url(../images/background2.png) -63px bottom no-repeat,
    url(../images/background1.png) no-repeat;
  padding: 15px;
  width: 100%;
  height: auto;
  position: relative;
  .container {
    &__head {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      .icon {
        color: $darkbrown;
        font-size: 6rem;
        margin-right: auto;
        margin-left: 33px;
      }
      &__topNav {
        display: flex;
        justify-content: center;
        align-items: center;
        &__logo {
          margin-right: 30px;
          img {
            width: 100%;
            height: auto;
            display: block;
            max-width: 83px;
          }
        }
        &__nav {
          &__navigation {
            display: flex;
            align-items: center;
            margin-right: 4rem;
            li {
              a {
                text-decoration: none;
                font-size: 2.2rem;
                padding: 10px 50px;
                font-weight: 700;
                color: $grey;
                text-transform: capitalize;
                transition: all 300ms 0ms;

                &:hover {
                  background-color: white;
                  border-radius: 73px;
                }
              }
            }
          }
        }
      }
    }
    &__responsivHead {
      width: 100%;
      display: none;
    }
    &__main {
      margin: 10rem;
      width: 23%;
      h1 {
        font-size: 12rem;
        font-weight: 800;
        text-transform: uppercase;
        color: $lightbrown;
        text-shadow: 2px 2px 4px $darkbrown;
        margin-bottom: 2rem;
        span {
          color: $darkbrown;
        }
      }
      h2 {
        font-size: 3.6rem;
        font-weight: 700;
        font-style: italic;
        text-transform: uppercase;
        color: $lightbrown;
        margin-bottom: 1.8rem;
      }
      p {
        font-size: 1.8rem;
        font-weight: 600;
        color: $darkbrown;
        line-height: 2.4rem;
        margin-bottom: 5rem;
        text-align: justify;
      }
      a {
        text-decoration: none;
        color: $white;
        height: 5rem;
        background-color: $lightbrown;
        border-radius: 64px;
        text-transform: uppercase;
        font-size: 2.1rem;
        line-height: 5rem;
        font-weight: 700;
        white-space: nowrap;
        padding: 1.5rem 5rem;
        transition: all 300ms;
        &:hover {
          background-color: $grey;
          color: $white;
          padding: 1.5rem 6.2rem;
        }
      }
      &__info {
        margin-top: 5.4rem;
        text-align: center;
        width: 50%;
        h4 {
          font-size: 1.8rem;
          font-weight: 600;
          color: $grey;
          margin-bottom: 1.9rem;
        }
        .icon {
          font-size: 3rem;
          background-color: $grey;
          border-radius: 60px;
          padding: 5px 6px;
          color: white;
          margin: 0 5px;
          transition: all 300ms;
          margin-bottom: 13px;
          cursor: pointer;
          &:hover {
            background-color: transparent;
            color: $grey;
          }
        }
        span {
          font-size: 1.6rem;
          font-weight: 400;
          color: $grey;
          margin: 0 auto;
        }
      }
    }
    &__dots {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      position: absolute;
      right: 10rem;
      top: 40%;
      display: flex;
      flex-direction: column;

      .icon {
        color: white;
        margin: 1rem 0;
        font-size: 1.6rem;
        &:hover {
          @include icon("icon-filled", $white, 1.6rem);
        }
      }
    }
  }
}
@media screen and (max-width: 975px) {
  main {
    background: url(/images/background1.png) right bottom no-repeat;
    background-size: 933px;
    background-position-x: 37px;
    background-position-y: 147px;
    position: relative;
    .container {
      &__head {
        display: none;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
      }
      &__responsivHead {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 48px;
        &__logo {
          img {
            width: 100%;
            height: auto;
            display: block;
            max-width: 83px;
          }
        }
        .icon {
          color: $darkbrown;
          font-size: 6rem;
          margin-left: 0px;
          margin-right: 71px;
        }
      }
      &__main {
        text-align: center;
        margin: 0 auto;
        width: 70%;
        margin-top: 70%;
        p {
          text-align: center;
        }
        &__info {
          width: 100%;
          span {
            margin-bottom: 10px !important;
          }
        }
      }
      &__dots {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 900px) {
  main {
    background: url(/images/background1.png) right center no-repeat;
    background-size: 706px;
    background-position-x: 37px;
    background-position-y: 147px;
    position: relative;
    .container {
      &__main {
        text-align: center;
        margin: 0 auto;
        width: 70%;
        margin-top: 60% !important;
        h1 {
          font-size: 7rem;
        }
        h2 {
          font-size: 3rem;
        }
      }
    }
  }
}

@media screen and (min-width: 601) and (max-width: 800px) {
  main {
    background-size: 600px;
    background-position-x: 37px;
    background-position-y: 147px;
    position: relative;
    .container {
      &__main {
        text-align: center;
        margin: 0 auto;
        width: 70%;
        margin-top: 70% !important;
        h1 {
          font-size: 4rem;
        }
        h2 {
          font-size: 3rem;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  main {
    background-size: 1000px;
    background-position-x: 37px;
    background-position-y: 147px;
    position: relative;
    .container {
      &__main {
        text-align: center;
        margin: 0 auto;
        width: 70%;
        margin-top: 80% !important;
        h1 {
          font-size: 6rem;
        }
        h2 {
          font-size: 2.2rem;
        }
      }
    }
  }
}
@media screen and (max-width: 550px) {
  main {
    background-position-x: 37px;
    background-position-y: 147px;
    position: relative;
    .container {
      &__main {
        text-align: center;
        margin: 0 auto;
        width: 70%;
        margin-top: 89% !important;
        h1 {
          font-size: 6rem;
        }
        h2 {
          font-size: 2.2rem;
        }
      }
    }
  }
}
@media screen and (min-width: 400px) and (max-width: 549px) {
  main {
    background-size: 373px;
    background-position-x: 16px;
    background-position-y: 147px;
    position: relative;
    .container {
      &__main {
        text-align: center;
        margin: 0 auto;
        width: 70%;
        margin-top: 73% !important;
        h1 {
          font-size: 6rem;
        }
        h2 {
          font-size: 2.2rem;
        }
      }
    }
  }
}
@media screen and (max-width: 399px) {
  main {
    background-size: 360px;
    background-position-x: 12px;
    background-position-y: 147px;
    position: relative;
    .container {
      &__main {
        text-align: center;
        margin: 0 auto;
        width: 70%;
        margin-top: 75% !important;
        h1 {
          font-size: 6rem;
        }
        h2 {
          font-size: 2.2rem;
        }
      }
    }
  }
}

@media screen and (min-width: 200px) and (max-width: 398px) {
  main {
    background-size: 329px;
    background-position-x: 16px;
    background-position-y: 147px;
    position: relative;
    .container {
      &__main {
        text-align: center;
        margin: 0 auto;
        width: 70%;
        margin-top: 73% !important;
        h1 {
          font-size: 6rem;
        }
        h2 {
          font-size: 2.2rem;
        }
      }
    }
  }
}
